<div class="layui-fluid" lay-title="类目选品">

   <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <form class="layui-form" action="" >
                    <div class="layui-row layui-col-space10 layui-form-item">
                        <div class="layui-col-md3">
                            <label class="layui-form-label">类网址：</label>
                            <div class="layui-input-block">
                                <input type="text" name="fullname" placeholder="请输入类网址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">星级：</label>
                            <div class="layui-input-block">
                                <!--   <input type="text" name="fullname" placeholder="请输入页码" autocomplete="off" class="layui-input" /> -->
                                  <select name="city"  class="layui-select">
                                      <option value="">全部产品</option>
                                      <option value="1">1星</option>
                                      <option value="2">2星</option>
                                      <option value="3">3星</option>
                                      <option value="4">4星</option>
                                      <option value="5">5星</option>
                                 </select>
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <label class="layui-form-label">页码：</label>
                            <div class="layui-input-block">
                                <input type="text" name="fullname" placeholder="请输入页码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-md3">
                             <button class="layui-btn layui-btn-sm" lay-submit lay-filter="component-form-element">星级查询</button>
                             <button class="layui-btn layui-btn-sm" lay-submit lay-filter="component-form-element">多页采集</button>
                             <button class="layui-btn layui-btn-sm" lay-submit lay-filter="component-form-element">导出表格</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   </div>

    <div class="layui-row layui-col-space15">
       <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">各星级产品数</div>
                 <div class="layui-card-body layui-row layui-col-space10">
                <table class="layui-table" >
                  <thead>
                    <tr>
                      <th>商品总数</th>
                      <th>1星数</th>
                      <th>2星数</th>
                      <th>3星数</th>
                      <th>4星数</th>
                      <th>5星数</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>22822</td>
                      <td>1613</td>
                      <td>1539</td>
                      <td>1492</td>
                      <td>1285</td>
                      <td>769</td>
                    </tr>
                    <tr>
                      <td>星级占比</td>
                      <td>7.07%</td>
                      <td>6.74%</td>
                      <td>6.54%</td>
                      <td>5.63%</td>
                      <td>3.37%</td>
                    </tr>
                  </tbody>
                </table>
                 </div>
              </div>
       </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">产品统计数</div>
                <div class="layui-card-body layui-row layui-col-space10">
                   <table class="layui-table" >
                  <thead>
                    <tr>
                      <th>项目</th>
                      <th>最高</th>
                      <th>最低</th>
                      <th>平均</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>促销价</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>评分</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  <tr>
                      <td>评价数</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>店铺折扣比</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  <tr>
                      <td>店铺好评率</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>店铺总数</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <!--
                      <tr>
                      <td>店铺总数</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                   <tr>
                       <td>中国发货占比</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    -->
                  </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card layui-form" lay-filter="component-form-element">
                <div class="layui-card-header">产品列表</div>
               <div class="layui-card-body layui-row layui-col-space10">
                   <table class="layui-table" >
                  <thead>
                    <tr>
                      <th>项目</th>
                      <th>最高</th>
                      <th>最低</th>
                      <th>平均</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>促销价</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>评分</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  <tr>
                      <td>评价数</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>店铺折扣比</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  <tr>
                      <td>店铺好评率</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>店铺总数</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </thead>
                  </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>



    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">产品列表</div>
                <div class="layui-card-body layui-row layui-col-space10">
                       <table class="layui-table" >
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>商品类目</th>
                              <th>标题</th>
                              <th>shopId</th>
                              <th>商品链接</th>
                              <th>商品主图</th>
                              <th>商品标价</th>
                              <th>折扣比</th>
                              <th>促销价</th>
                              <th>评分</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>22822</td>
                              <td>1613</td>
                              <td>1539</td>
                              <td>1492</td>
                              <td>1285</td>
                              <td>769</td>
                              <td>1285</td>
                              <td>769</td>
                              <td>1285</td>
                              <td>769</td>
                            </tr>
                          </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    layui.use(['admin', 'form'], function (admin, form) {
        var $ = layui.$;
        var element = layui.element;

        form.render(null, 'component-form-element');
        element.render('breadcrumb', 'breadcrumb');
        form.render('select');

        form.on('submit(component-form-element)', function (data) {
            layer.msg(JSON.stringify(data.field));
            var json = JSON.stringify(data.field);
            $.get("/menu",{city:json.city},function (data) {
                console.log(data);
            },"json");
            return false;
        });
    });
</script>